{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <div class="jumbotron">
        <h1>Bienvenido!</h1>
        <p>Seleccione una opcion del menu principal</p>
        <p>
          
        </p>
</div>
   
</div>
{% endblock %}
