{% extends 'base.html.twig' %}

{% block title %}New Venta{% endblock %}

{% block body %}
    <h1>Create new Venta</h1>

    {{ include('venta/_form.html.twig') }}

    <a href="{{ path('venta_index') }}">back to list</a>

<div class="row">
<h3>id Cliente</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>                            
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
            
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>id Producto</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>              
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>          
               
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
