{% extends 'base.html.twig' %}

{% block title %}Venta{% endblock %}

{% block body %}
    <h1>Venta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ventum.id }}</td>
            </tr>
            <tr>
                <th>IdProducto</th>
                <td>{{ ventum.IdProducto }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ ventum.Precio }}</td>
            </tr>
            <tr>
                <th>FechaVenta</th>
                <td>{{ ventum.FechaVenta ? ventum.FechaVenta|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IdCliente</th>
                <td>{{ ventum.IdCliente }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('venta_index') }}">back to list</a>

    <a href="{{ path('venta_edit', {'id': ventum.id}) }}">edit</a>

    {{ include('venta/_delete_form.html.twig') }}
{% endblock %}
