{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}

    <h1>Cliente index</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_Id</th>
                <th>Nombre1</th>
                <th>Nombre2</th>
                <th>Apellido1</th>
                <th>Apellido2</th>               
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.Num_Id }}</td>
                <td>{{ cliente.Nombre1 }}</td>
                <td>{{ cliente.Nombre2 }}</td>
                <td>{{ cliente.Apellido1 }}</td>
                <td>{{ cliente.Apellido2 }}</td>              
                <td>
                    <a class="btn btn-warning" href="{{ path('cliente_show', {'id': cliente.id}) }}">Ver Detalles</a>
                    <a class="btn btn-danger" href="{{ path('cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cliente_new') }}">Crear Nuevo</a>
</div>
{% endblock %}
