{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Num_Id</th>
                <td>{{ cliente.Num_Id }}</td>
            </tr>
            <tr>
                <th>Nombre1</th>
                <td>{{ cliente.Nombre1 }}</td>
            </tr>
            <tr>
                <th>Nombre2</th>
                <td>{{ cliente.Nombre2 }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ cliente.Apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ cliente.Apellido2 }}</td>
            </tr>
            <tr>
                <th>Dirreccion</th>
                <td>{{ cliente.Dirreccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.Telefono }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ cliente.Genero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cliente_index') }}">back to list</a>

    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
