{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ product.Nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ product.Descripcion }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ product.Costo }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ product.Precio }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ product.Marca }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
